/*Avenir Next Cyr*/

@font-face {
  font-family: 'AvenirNextCyr';
  src: url('../fonts/AvenirNextCyr-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNextCyr';
  src: url('../fonts/AvenirNextCyr-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNextCyr';
  src: url('../fonts/AvenirNextCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNextCyr';
  src: url('../fonts/AvenirNextCyr-Demi.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/*Onest*/


@font-face {
  font-family: 'Onest';
  src: url('../fonts/Onest-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Onest';
  src: url('../fonts/Onest-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Onest';
  src: url('../fonts/Onest-Ligt.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
/**/
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot');
  src: url('../fonts/icomoon.eot') format('embedded-opentype'),
  url('../fonts/icomoon.ttf') format('truetype'),
  url('../fonts/icomoon.woff') format('woff'),
  url('../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


/* icomoon */
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot');
  src: url('../fonts/icomoon.eot') format('embedded-opentype'),
  url('../fonts/icomoon.ttf') format('truetype'),
  url('../fonts/icomoon.woff') format('woff'),
  url('../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}