@import "../abstracts/mixins";
@import "../abstracts/variables";

.text {
  &-right {
    text-align: right;
  }

  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }

  &-justify {
    text-align: justify;
  }

  &-uppercase {
    text-transform: uppercase;
  }

  &-light {
    font-weight: 300;
  }

  &-regular {
    font-weight: 400;
  }

  &-medium {
    font-weight: 500;
  }

  &-semibold {
    font-weight: 600;
  }

  &-bold {
    font-weight: 700;
  }

  &-extrabold {
    font-weight: 800;
  }

  &-black {
    font-weight: 900;
  }

  &-xl {
    @include fontSize(36, 60);
    line-height: 1.22;
  }

  &-l {
    @include fontSize(18, 24);
    line-height: 1.3;
  }

  &-m {
    @include fontSize(16, 18);
    line-height: 1.3;
  }

  &-s {
    @include fontSize(14, 17);
    line-height: 1.58;

  }
}


.heading {

  &-accent {
    color: $accent-color;
  }

  &-font {
    font-family: 'Onest', serif;
  }
}

.h1 {
  @include fontSize(40, 70);
}

.h2 {
  @include fontSize(40, 60);
}

.h3 {
  @include fontSize(35, 50);
}


.h4 {
  @include fontSize(25, 30);
}

.h5 {
  @include fontSize(20, 25);
}

.h6 {
  @include fontSize(15, 17);
}

.mb-70 {
  margin-bottom: 70px;
}