@import "../abstracts/mixins";
@import "../abstracts/variables";

.advantage {
  padding: 30px 0;
  @media (max-width: $breakpoint-lg) {
    padding: 0;
  }

  &:nth-child(1), &:nth-child(2) {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: -60px;
      height: 100%;
      width: 1px;
      background: rgba(49, 47, 47, 1);
      @media (max-width: $breakpoint-md) {
        content: '';
        position: absolute;
        top: calc(100% + 30px);
        right: auto;
        height: 40px;
        width: 1px;
        background: rgba(223, 216, 207, 1);

      }
    }
  }

  &__wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 120px;

    @media (max-width: $breakpoint-lg) {
      grid-template-columns: 1fr;
      gap: 100px;
    }
    /* @media (max-width: 400px) {
       grid-template-columns: repeat(1, 1fr);
       gap: 20px;
     }*/
  }

  &__title {
    margin-bottom: 13px;
    @include fontSize(20, 25);
    @media (max-width: $breakpoint-md) {
      margin-bottom: 6px;
    }
  }

  &__text {
    line-height: 27px;
    max-width: 375px;
  }

}

.vision {
  padding: 30px 20px 20px 20px;
  border-top: 1px solid rgba(49, 47, 47, 1);
  border-bottom: 1px solid rgba(49, 47, 47, 1);
  border-right: 1px solid rgba(49, 47, 47, 1);

  &:nth-child(1) {
    border-left: 1px solid rgba(49, 47, 47, 1);
  }

  &__wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;

    @media (max-width: $breakpoint-lg) {
      grid-template-columns: repeat(2, 1fr);
    }
    /* @media (max-width: 400px) {
       grid-template-columns: repeat(1, 1fr);
       gap: 20px;
     }*/
  }

  &__title {
    margin-bottom: 13px;
    @include fontSize(20, 25);
  }

  &__text {

    line-height: 27px;
  }


  &__icon {
    position: relative;
    z-index: 2;
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;

    &-wrap {
      width: 55px;
      height: 55px;
      margin-bottom: 32px;
    }
  }

}

.s-vision {
  padding: 0 0 110px 0;

  & .heading {
    margin-bottom: 70px;
    max-width: 70%;
  }
}

.s-advantages {
  padding: 98px 0 93px 0;
  background: rgba(28, 28, 28, 1);
  color: #fff;
  @media (max-width: $breakpoint-md) {
    padding: 70px 0;
  }

  & .heading {

  }
}


.s-about {
  padding: 120px 0 0 0;
  background: #DFD8CF;
  color: #000;
  @media (max-width: $breakpoint-md) {
    padding: 60px 0 70px 0;
    border-bottom: 1px solid rgba(45, 45, 45, 0.2);
  }

  & .heading {

  }

  & .description {
    margin-top: 30px;
    margin-bottom: 61px;
    @media (min-width: $breakpoint-md) {
      column-count: 2;
      column-gap: 70px;
    }
    @media (max-width: $breakpoint-xl) {
      margin-bottom: 27px;
    }
  }

  & .accent {
    @media (min-width: $breakpoint-md) {
      background: rgba(0, 0, 0, 0.7);
      padding: 42px 42px 42px 62px;
      backdrop-filter: blur(10px);
      color: #ffff;
      box-shadow: 0px 0px 68px 0px rgba(0, 0, 0, 0.05) inset;
      position: absolute;
      bottom: 90px;

    }
    @media (max-width: $breakpoint-md) {
      color: #000;
    }

  }

  & .img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    &__wrap {
      position: relative;
      aspect-ratio: 6 / 3;
      width: 100vw;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;

      @media (max-width: $breakpoint-md) {
        margin-top: 70px;
        margin-bottom: 45px;

      }
    }
  }

  & .video-full {
    position: relative;
    overflow: hidden;
    padding-bottom: 66%;
    @media (max-width: $breakpoint-lg) {
      // margin-bottom: 22px;
    }

    &::before {
      content: "";
      pointer-events: none;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .2);
    }

    & video {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      content-visibility: auto;
    }

    & .btn-play {
      position: absolute;
      bottom: 54px;
      right: 54px;
      width: 77px;
      height: 77px;
      border-radius: 100%;
      cursor: pointer;
      // background: rgba(255, 255, 255, 1);
      @media (max-width: $breakpoint-md) {
        width: 43px;
        height: 43px;
        bottom: 20px;
        right: 20px;
      }

      &.hide {
        opacity: 0;
      }

      & img {
        width: 45%;
        height: 45%;
        object-fit: contain;
        object-position: center;
        z-index: 3;
        position: relative;
      }

      &:before {
        content: '';
        z-index: 1;
        position: absolute;
        display: block;
        width: 200%;
        height: 200%;
        box-sizing: border-box;
        left: -50%;
        top: -50%;
        border-radius: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
      }

      &:after {
        content: '';
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background: rgba(255, 255, 255, 1);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
      }
    }
  }

}

@keyframes pulse-ring {
  0% {
    transform: scale(.33);
  }
  80%, 100% {
    opacity: 0;
  }
}

.s-quote {
  padding-bottom: 70px;
  margin-bottom: 88px;
  @media (max-width: $breakpoint-md) {
    padding-bottom: 50px;
    margin-bottom: 40px;
  }

  & .heading {
    font-size: 30px;
    line-height: 1.5;
    color: rgba(139, 117, 96, 1);
    @media (max-width: $breakpoint-md) {
      font-size: 20px;
    }
  }

  & .img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;

    &__wrap {
      margin-bottom: 68px;
      padding-bottom: 55%;
      @media (max-width: $breakpoint-md) {
        margin-bottom: 24px;
      }
    }
  }

  &:after {
    content: '';
    width: 100vw;
    height: 65%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(246, 244, 242, 1);
    z-index: 1;
    @media (max-width: $breakpoint-md) {
      height: calc(100% - 91px);
    }
  }

}

.s-history {
  padding-bottom: 83px;
  margin-bottom: 100px;
  @media (max-width: $breakpoint-md) {
    padding-bottom: 46px;
    margin-bottom: 46px;
  }

  &:before {
    content: '';
    width: 100%;
    height: 1px;
    max-width: 1276px;
    position: absolute;
    background: rgba(204, 195, 189, 0.5);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  & .heading {
    margin-bottom: 30px;
  }

  & .img-text {
    padding: 43px 0;
    @media (max-width: $breakpoint-md) {
      padding: 30px 0;
    }

    & .img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;

      &__wrap {
        padding-bottom: 80%;
        position: relative;
        @media (max-width: $breakpoint-md) {

          margin-bottom: 24px;
        }

        & .logo {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 80%;
          transform: translate(-50%, -50%);
          object-fit: contain;
        }
      }
    }
  }

  & .img-grid {
    padding: 40px 0;
    margin: 0 -10px;

    & .column {
      padding: 0 10px;
    }

    & .img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;

      &__wrap {
        padding-bottom: 83%;
        position: relative;
      }
    }

  }
}

.s-intro {
  padding: 90px 0;
  @media (max-width: $breakpoint-lg) {
    padding: 45px 0;
  }

  &:before {
    content: '';
    width: 100%;
    height: 1px;
    max-width: 1276px;
    position: absolute;
    background: rgba(204, 195, 189, 0.5);
    top: 0;
    left: 50%;
    transform: translateX(-50%);

  }

  & .heading {
    margin-bottom: 45px;
    font-size: 45px;
    font-family: "CenturyGothic", sans-serif;
    line-height: 1.45;
    @media (max-width: $breakpoint-md) {
      font-size: 22px;
    }
  }


  & .description {


    & p {
      font-size: 17px;
      font-weight: 300;
      line-height: 1.5;

      &:not(&:last-child) {
        margin-bottom: 20px;
      }
    }

  }
}


.s-photo {
  & .swiper-pagination {
    margin-top: 0;
    @media (max-width: $breakpoint-xl) {
      display: none;
    }
  }
}

.info-block {
  &__content {
    @media (max-width: $breakpoint-md) {
      --inActive-height: calc(5em * 2);
      height: var(--inActive-height);
      min-height: var(--inActive-height);
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__text {
    color: #fff;

    @media (max-width: $breakpoint-md) {
      color: #000;
    }
  }

  & .btn-more {
    cursor: pointer;
    margin-top: 25px;
    @media (min-width: $breakpoint-md) {
      display: none;
    }

    &__text {
      position: relative;
      z-index: 2;
      transition: 0.5s cubic-bezier(0.65, 0, 0.35, 1);
      height: 100%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: rgba(89, 69, 55, 1);
      font-size: 16px;

      &::before {
        content: attr(data-toggle-more);
      }

      &:after {
        content: '';
        width: 100%;
        height: 1px;
        background: #594537;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

    &.is-active {
      display: none;

      &::before {
        content: attr(data-toggle-less);
      }
    }
  }
}


