@import "../abstracts/mixins";
@import "../abstracts/variables";

.s-events {
  .event {
    position: relative;

    &:nth-child(1) {
      grid-column: 1 / 2; /* перша колона */
      grid-row: 1 / 3; /* дві рядки */
      min-height: 520px;
      background: #333;
    }

    /* 2 — правий верхній */
    &:nth-child(2) {
      grid-column: 2 / 4; /* займає 2 колонки справа */
      grid-row: 1 / 2;
      min-height: 260px;
      background: #555;
    }

    /* 3 — нижній лівий у правій колонці */
    &:nth-child(3) {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      min-height: 220px;
      background: #777;
    }

    /* 4 — нижній правий у правій колонці */
    &:nth-child(4) {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
      min-height: 220px;
      background: #888;
    }

    &:nth-child(3), &:nth-child(4) {
      & .event {
        &__title {
          font-size: 18px;
        }

        &__info {
          padding: 8px 14px;
        }
      }
    }

    &__img {
      height:100%;
      width:100%;
      object-fit: cover;
      &-wrap {
        height: 100%;
        width:100%;

      }
    }

    &__info {
      padding: 1.875rem;
      backdrop-filter: blur(10px);
      background: rgba(0, 0, 0, 0.2);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15) inset;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
    }

    &__title {
      @include fontSize(18, 25);
      color: #DFD8CF;
    }

    &__date {
      @include fontSize(14, 17);

      color: #DFD8CF;
      margin-bottom: 10px;

      @media (max-width: $breakpoint-xl) {
        padding-left: 29px;
        font-size: 14px;
      }
    }


    &__wrap {
      margin-top: 60px;
      display: grid;
      grid-template-columns: 2.5fr 1fr 1fr;

      /* 2 рядки */
      grid-template-rows: auto auto;
      gap: 20px;
    }


  }

}


.s-recommended-news {
  padding: 92px 0;
  @media (max-width: $breakpoint-xl) {
    padding: 43px 0 50px 0;
    & .heading {
      text-align: center;
    }
  }

  & .btn-transparent {
    & .btn__icon {
      background: $white-color;

      & i {
        color: $accent-color;
      }
    }

    @media (max-width: $breakpoint-lg) {
      margin-top: 25px;
    }
  }

  &.--decor {
    border-bottom: 1px solid rgba(227, 227, 227, 1);
  }


  & .btn-more {
    color: $accent-color;
    font-size: 20px;
    position: relative;
    font-family: "CenturyGothic", sans-serif;
    font-weight: bold;

    & i {
      padding-left: 7px;
      font-size: 15px;
    }

    &:before {
      content: "";
      height: 2px;
      width: calc(100% - 27px);
      background: $accent-color;
      position: absolute;
      bottom: -3px;
      left: 0;
    }
  }
}

.s-blog {
  padding: 44px 0 150px 0;
  @media (max-width: $breakpoint-md) {
    padding: 25px 0 100px 0;
  }


  & .event {
    &-filter {
      & .menu {
        display: flex;
        justify-content: right;
        gap: 150px;
        @media (max-width: $breakpoint-xl) {
          gap: 100px;
        }
        @media (max-width: $breakpoint-lg) {
          gap: 42px;
          justify-content: left;
          margin-top: 14px;
          margin-bottom: 11px;
          align-items: center;
        }

        &-item {
          flex: 0 0 auto;

          position: relative;
          @media (min-width: $breakpoint-sm) {
            white-space: nowrap;
          }
          @media (max-width: 520px) {
            max-width: 75px;
            text-align: center
          }

          & a {
            color: rgba(61, 63, 61, 1);
            font-size: 20px;
            @media (max-width: $breakpoint-lg) {
              display: inline-block;

              font-size: 15px;
            }
          }


          &.selected {
            color: rgba(239, 243, 241, 1);
          }

          &:not(&:last-child) {
            &:after {
              content: '';
              width: 10px;
              height: 10px;
              border-radius: 100%;
              background: rgba(204, 195, 189, 1);
              position: absolute;
              right: -70px;
              top: 50%;
              transform: translateY(-50%);
              @media (max-width: $breakpoint-xl) {
                right: -40px;
              }
              @media (max-width: $breakpoint-lg) {
                width: 8px;
                height: 8px;
                right: -24px;
              }
            }
          }
        }
      }
    }

    &__item {
      position: relative;

      &:after {
        @media (max-width: $breakpoint-lg) {
          content: '';
          width: 100%;
          height: 1px;
          background: rgba(227, 227, 227, 1);
          position: absolute;
          bottom: -18px;
        }
      }
    }
  }

  &__wrap {
    gap: 44px 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
    padding-bottom: 55px;


    @media (max-width: $breakpoint-xl) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: $breakpoint-md) {
      gap: 30px 15px;
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $breakpoint-sm) {
      padding-bottom: 48px;
      gap: 38px 15px;
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.s-post {
  padding: 0 0 100px 0;

  &__bottom {
    padding-top: 50px;
    @media (min-width: $breakpoint-md) {
      flex-direction: row-reverse;
    }
    @media (max-width: $breakpoint-md) {
      padding-top: 30px;
    }
  }


  & .block-text-img {
    margin-bottom: 44px;

    & .img {
      position: absolute;

      &__wrap {
        padding-bottom: 107%;
        @media (max-width: $breakpoint-md) {
          padding-bottom: 100%;
          margin-top: 19px;
        }
      }
    }
  }


  & .date {
    &__title, &__value {
      @include fontSize(16, 20);
    }

    &__title {
      color: rgba(61, 63, 61, 1);
    }

    &__value {
      color: rgba(121, 121, 121, 1);
    }
  }

  & .share {
    @media (max-width: $breakpoint-md) {
      margin-bottom: 30px;
    }

    &__title {
      color: rgba(61, 63, 61, 1);
      @include fontSize(16, 20);
      margin-right: 20px;
      @media (max-width: $breakpoint-md) {
        margin-right: 10px;

      }

    }

    & .social {
      &__item {
        @include transition(.5);

        width: 40px;
        height: 40px;
        color: $white-color;
        @media (max-width: $breakpoint-md) {
          width: 30px;
          height: 30px;
          & i {
            font-size: 15px;
          }
        }

        &:hover {
          background: #0B84EE;

          & i {
            color: $white-color;
          }
        }

        &.facebook {
          background: rgba(11, 132, 238, 1);
        }

        &.telegram {
          background: rgba(39, 166, 229, 1);
        }

        &.viber {
          background: rgba(124, 80, 154, 1);
        }

        &:not(&:last-child) {
          margin-right: 10px;
        }
      }
    }
  }

  & .line {
    margin-top: 21px;
    background: rgba(0, 0, 0, 0.1);
    height: 1px;
    width: 100%;
  }
}

.s-post-content {
  padding: 14px 0 100px 0;
  @media (max-width: $breakpoint-md) {
    padding-bottom: 50px;
  }

  .video-full {
    position: relative;
    overflow: hidden;
    padding-bottom: 54%;
    margin-bottom: 40px;
    @media (max-width: $breakpoint-lg) {
      margin-bottom: 22px;
    }

    &::before {
      content: "";
      pointer-events: none;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .2);
    }

    & video {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      content-visibility: auto;
    }

    & .btn-play {
      position: absolute;
      bottom: 54px;
      right: 54px;
      width: 43px;
      height: 47px;
      @media (max-width: $breakpoint-md) {
        width: 27px;
        height: 30px;
        bottom: 20px;
        right: 20px;
      }

      &.hide {
        opacity: 0;
      }
    }
  }
}
