@import "../abstracts/mixins";
@import "../abstracts/variables";


.s-hero {
  height: 100vh;
  display: flex;
  @media (max-width: $breakpoint-md) {
    padding-top: 150px;
    padding-bottom: 50px;
    height: auto;
  }

  & .img {
    opacity: .5;
    object-fit: cover;
    height: 100%;
    width: 100%;

    &__wrap {
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      &:after {
        content: '';
        width: 100%;
        height: 50%;
        background: linear-gradient(180deg, rgba(28, 28, 28, 0) 0%, #1C1C1C 100%);
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }

  & .heading {
    margin-bottom: 1.25rem;
    font-weight: 900;
    @include fontSize(40, 80);
    @media (max-width: $breakpoint-md) {
      margin-bottom: 28px;
    }
  }

  & .description {
    font-size: fluid(20, 30);
    margin-bottom: 2.6875rem;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 35px;
    }
  }

  & .btn {
    &-transparent {
      border-color: rgba(255, 255, 255, 1);
      color: rgba(255, 255, 255, 1);
    }

    &__wrap {
      gap: 40px;
      display: flex;
      @media (max-width: $breakpoint-lg) {
        gap: 30px;
        display: grid;
        width: 350px;
      }
    }
  }

  & .social {
    gap: 63px;
    position: relative;
    z-index: 2;

    @media (min-width: 1516px) {
      position: absolute;
      right: 94px;
      margin-top: 94px;
    }
    @media (max-width: 1516px) {
      margin-top: 80px;

    }

    &-item {
      & i {
        font-size: 30px;
      }
    }

  }
}

.media {
  position: relative;
  overflow: hidden;
  padding-bottom: 66%;

  &::before {
    content: "";
    pointer-events: none;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
  }

  &__video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    content-visibility: auto;
  }

  &__btn {

    position: absolute;
    top: 156px;
    right: 25%;
    width: 190px;
    height: 190px;
    border-radius: 100%;
    cursor: pointer;
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100%);

    & img {
      width: 30%;
      height: 30%;
    }

    &.hide {
      display: none;
    }
  }
}

.s-media-promo {
  padding-bottom: fluid(70, 170);

  & .heading {
    padding: 60px 52px 20px 52px;
    background: #1C1C1C;
    color: $white-color;

    /*@include fontSize(22, 45);*/
    font-size: clamp(22px, 3.2vw, 45px);
    position: absolute;
    bottom: -40px;
    left: 0;
    z-index: 4;
    max-width: 62.5%;
    @media (max-width: $breakpoint-md) {
      padding: 20px 10px 30px 10px;
      bottom: 0;
      max-width: 80%;
    }
    @media (max-width: $breakpoint-sm) {
      left: -10px;
      width: calc(100% + 20px);
      max-width: max-content;
    }
  }

  & .media {

    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}


.s-partners {
  padding-bottom: 130px;
  @media (max-width: $breakpoint-md) {
    padding-bottom: 70px;
    border-bottom: 1px solid rgba(45, 45, 45, 1);
  }

  & .swiper {
    &-container {
      margin-top: 50px;
      @media (max-width: $breakpoint-md) {
        margin-top: 40px;
      }
    }

    &-button {
      &__wrap {
        margin-top: 30px;
        @media (max-width: $breakpoint-md) {
          margin-top: 40px;
        }
      }
    }
  }

  & .partner {
    &__img {
      width: 70%;
      height: 70%;
      object-fit: contain;

      &-wrap {
        height: 205px;
        border: 1px solid rgba(180, 173, 164, 0.5);
        @media (max-width: $breakpoint-md) {
          height: 105px;
        }
      }
    }
  }
}

.s-more-detail {
  padding: 123px 0 150px 0;
  @media (max-width: $breakpoint-md) {
    padding: 70px 0;
  }

  &__inner {
    position: relative;

    &:after {
      content: '';
      width: 100%;
      height: 1px;
      background: rgba(45, 45, 45, 1);
      position: absolute;
      bottom: -150px;
      left: 0;
      @media (max-width: $breakpoint-md) {
        bottom: -70px;
      }

    }
  }

  & .heading {
    margin-bottom: 40px;
    font-size: fluid(40, 65);
  }

  & .description {
    margin-bottom: 60px;
    font-size: fluid(18, 23);
    line-height: 1.5;
  }

  & .form-control {
    &__btn {
      width: 100%;
      min-width: auto;
    }

    &__wrap {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      @media (max-width: $breakpoint-xl) {
        gap: 20px;
      }
      @media (max-width: $breakpoint-md) {
        grid-template-columns: 1fr;
        gap: 20px;
      }
    }
  }
}

.preload {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none !important;

  &__img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    object-fit: cover;
  }

  .btn-play {

    position: relative;
    width: 160px;
    height: 160px;
    z-index: 6;
    cursor: pointer;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    @media (max-width: $breakpoint-md) {
      width: 50px;
      height: 50px;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: 0 0;
      border-radius: 50%;
      border: 10px solid rgba(255, 255, 255, 0.65);
      transition: all .3s;
      -webkit-transition: all .3s;
      @media (max-width: $breakpoint-md) {
        border-width: 3px;
      }
    }

    &:before {
      content: '';


      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: 10px;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 31.5px 0 31.5px 58px;
      border-color: transparent transparent transparent rgba(255, 255, 255, 0.65);
      transition: all .3s ease-out;
      -webkit-transition: all .3s ease-out;
      backface-visibility: visible;
      -webkit-backface-visibility: visible;
      @media (max-width: $breakpoint-md) {
        margin-left: 2px;
        border-width: 5px 0 5px 10px;

      }
    }

    &:hover {

      &:before {

        border-color: transparent transparent transparent red;
      }

      &:after {
        border-color: red;
      }
    }
  }
}


.swiper-container {
  opacity: 0;
  @include transition(.5);
}

.swiper-container.swiper-initialized {
  opacity: 1;
}


