@import "../abstracts/mixins";
@import "../abstracts/variables";


.s-error, .s-thanks {
  background: rgba(255, 249, 242, 1);
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  @media (max-width: $breakpoint-md) {
    height: auto;
  }

  & .bg {
    opacity: .3;
    object-fit: cover;
    height: 100%;
    width: 100%;

    &__wrap {
      background: rgba(0, 0, 0, 1);
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      &:after {
        content: '';
        width: 100%;
        height: 50%;
        background: linear-gradient(180deg, rgba(28, 28, 28, 0) 0%, #1C1C1C 100%);
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }

  & .logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;

    &__wrap {
      display: block;
      width: fluid(150, 250);
      height: fluid(100, 165);
      top: 30px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  & .content {
    padding-top: fluid(100, 150);;
    & .heading, & .description {
      color: rgba(255, 255, 255, 1);
    }

    & .description {
      font-size: fluid(20, 30);
      @media (max-width: $breakpoint-md) {
        margin-bottom: 34px;
      }
    }
  }
  & .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;

    &__wrap {
      width: fluid(335, 650);
      margin: 0 auto fluid(45, 70) auto;
    }
  }
}


.s-thanks {
  & .content {
    & .heading{
      font-size: fluid(58, 200);
      margin-bottom: 57px;
      @media (min-width: $breakpoint-md) {
        margin-bottom: 20px;
      }
    }
    & .description {
      @media (min-width: $breakpoint-md) {
        margin-bottom: 72px;
      }
    }
  }
}

.s-error {

  & .content {

    & .heading {
      font-size: fluid(28, 50);
      margin-bottom: 31px;
      @media (max-width: $breakpoint-md) {
        margin-bottom: 26px;
      }
    }

    & .description {
      @media (min-width: $breakpoint-md) {
        margin-bottom: 50px;
      }
    }
  }
}

.s-simple {
  padding: 50px 0 100px 0;
  @media (max-width: $breakpoint-md) {
    padding: 30px 0 60px 0;
  }

  & .heading {
    margin-bottom: 30px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 20px;
    }
  }

  & .cms-content {
    & p {
      font-size: 17px;
      line-height: 1.5;
      font-weight: 300;

      & + h3 {
        margin-top: 25px;
      }
    }

    & ul, ol {
      padding-left: 30px;

      & li {
        font-size: 17px;
        line-height: 1.5;
        font-weight: 300;

        &::marker {
          font-size: 12px !important;
        }

        &:not(&:last-child) {
          margin-bottom: 10px !important;
        }
      }
    }
  }

}

.s-info {
  padding: 50px 0 100px 0;
  @media (max-width: $breakpoint-md) {
    padding: 30px 0 60px 0;
  }

  & .heading {
    margin-bottom: 30px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 20px;
    }
  }

  & .delivery {
    margin-bottom: 40px;

    & ul {
      list-style: none;
      padding-left: 0;

      & li {
        display: flex;
        align-items: center;
        justify-content: start;
        font-size: 17px;
        line-height: 1.5;
        font-weight: 300;

        & .img {
          max-width: 80%;
          max-height: 80%;
          object-fit: contain;

          &__wrap {
            width: 50px;
            height: 32px;
            border-radius: 5px;
            border: 1px solid rgba(237, 237, 237, 1);
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 15px;
          }
        }
      }
    }
  }

  & .payment {
    &-method {
      display: flex;
      gap: 20px;
      margin-top: 20px;
      @media (max-width: 350px) {
        gap: 10px;
      }

      & .img {
        width: 80%;
        height: 80%;
        object-fit: contain;

        &__wrap {
          width: 50px;
          height: 32px;
          border-radius: 5px;
          border: 1px solid rgba(237, 237, 237, 1);
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }


}

.s-search {
  min-height: 70vh;
  padding: 50px 0 100px 0;
  @media (max-width: $breakpoint-md) {
    padding: 20px 0 70px 0;
  }

  & .heading {
    margin-bottom: 20px;
  }

  & .description {
    margin-bottom: 25px;
    @include fontSize(20, 30);
  }

  & .product {
    &__grid {
      gap: 45px 20px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      @media (max-width: $breakpoint-lg) {
        grid-template-columns: repeat(3, 1fr);
        gap: 24px 15px;
      }
      @media (max-width: $breakpoint-md) {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px 15px;
      }
      /* @media (max-width: 450px) {
         grid-template-columns: repeat(1, 1fr);
         gap: 24px 15px;
       }*/
    }
  }
}