@import "../abstracts/mixins";
@import "../abstracts/variables";

.s-projects {
  &-home {
    padding: 130px 0 150px 0;
    background: #DFD8CF;
  }

  padding: 95px 0 155px 0;
  background: #DFD8CF;

  & .filter {
    margin-bottom: 86px;

    &-item {
      & a {
        @include fontSize(18, 40);
        color: #C5BEB5;
      }

      &.active {
        & a {
          color: #3A3A3A;
        }
      }
    }
  }

  & .project {
    &__wrap {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 100px 20px;
      @media (max-width: $breakpoint-md) {
        grid-template-columns: 1fr;
      }
    }

    &__status {
      background: #E0D9D0;
      color: #2D2D2D;
      top: 0;
      position: absolute;
      left: 0;
      padding: 10px;
      min-width: 142px;
      font-size: 17px;
    }

    &__img {
      aspect-ratio: 5 / 3;
      object-fit: cover;

      &-wrap {
        margin-bottom: 24px;
      }
    }

    &__title {
      padding-bottom: 6px;

      @include fontSize(22, 25);
      color: #000;
    }

    &__location {
      margin-bottom: 22px;
    }

    &__item {
      position: relative;

      &:after {
        content: '';
        width: 100%;
        height: 1px;
        background: rgba(0, 0, 0, 0.2);
        position: absolute;
        bottom: -50px;
        left: 0;
      }

      & .btn__wrap {
        @media (max-width: 1300px) {
          justify-content: center;
          gap: 20px;
        }
      }
    }
  }
}


.cottages {
  & .project {
    &__status {
      letter-spacing: 0.1em;
      min-width: auto;

      &.sold {
        background: rgba(129, 121, 115, 1);
        color: rgba(255, 255, 255, 1);
      }
    }

    &__title {
      @include fontSize(20, 23);
      letter-spacing: 0.1em;
      padding-bottom: 11px;
      margin-bottom: 21px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      @media (max-width: $breakpoint-lg) {
        padding-bottom: 10px;
        margin-bottom: 11px;
      }
    }

    &__description {
      margin-bottom: 16px;
      @media (max-width: $breakpoint-lg) {
        display: grid;
        gap: 20px;
      }

      & .characteristic {
        display: grid;
        gap: 10px;

        &__title, &__value {
          color: rgba(58, 58, 58, 1);
          @include fontSize(16, 20);
        }

        @media (max-width: $breakpoint-lg) {
          display: flex;
        }
      }
    }
  }
}