@import "../abstracts/mixins";
@import "../abstracts/variables";


.cottage-detail {
  & .swiper-thumbs {

    @media (max-width: $breakpoint-md) {
      margin-bottom: 40px;
    }

    & img {
      aspect-ratio: 3 / 2;
      object-fit: cover;
    }

    &-top {
      & img {
        aspect-ratio: 3 / 2;
        object-fit: cover;
      }

      margin-bottom: 20px;
    }

    &-bottom {
      .swiper-slide-thumb-active {
        border: 1px solid red;
      }
    }
  }

  & .characteristic {
    padding: 40px 0;
    text-align: center;

    &:nth-child(odd) {
      border-right: 1px solid #E0D9D0;
      position: relative;

      &:after {
        content: '';
        width: 100vw;
        height: 1px;
        background: #E0D9D0;
        position: absolute;
        bottom: -1px;
        left: 0;
      }
    }

    &__value {
      font-size: fluid(30, 40);
      margin-bottom: 7px;
    }

    &__title {
      font-size: fluid(16, 20);
    }

    &__grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0;
      border: 1px solid #E0D9D0;
      margin-bottom: 34px;
      overflow: hidden;
    }
  }

}

.s-projects {
  &-home {
    padding: 130px 0 150px 0;
    background: #DFD8CF;
    @media (max-width: $breakpoint-md) {
      padding: 60px 0 0 0;
    }

    & .heading {
      color: rgba(0, 0, 0, 1);
      @media (max-width: $breakpoint-md) {
        margin-bottom: 30px;
      }
    }

    & .project {
      &__img {
        aspect-ratio: 1 / 1;
        opacity: 0.8;
        object-fit: cover;

        @media (max-width: $breakpoint-md) {
          aspect-ratio: 1 / 1.5;
        }

        &-wrap {
          background: rgba(0, 0, 0, 1);
        }
      }

      &__info {
        position: absolute;
        bottom: 136px;
        left: 30px;
        width: calc(100% - 60px);
        backdrop-filter: blur(10px);
        box-shadow: 0px 0px 68px 0px rgba(0, 0, 0, 0.05) inset;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15) inset;
        padding: 43px 30px;
        color: rgba(255, 255, 255, 1);
        font-size: 18px;
        line-height: 27px;
        @media (max-width: $breakpoint-md) {
          padding: 15px;
          bottom: 120px;
        }
      }
    }

    & .swiper {

      &-container {
        margin-top: 40px;
        margin-left: -20px;
        width: calc(100% + 40px);
      }

      &-controls {
        position: absolute;
        bottom: 40px;
        z-index: 3;
        left: 30px;
        width: calc(100% - 60px);
        justify-content: start;
        display: grid;
      }

      &-pagination-bullet {

      }
    }

    .tab__list {
      @media (min-width: $breakpoint-md) {
        max-width: 80%;
        margin: 0 auto;
        overflow-y: auto;
        padding-right: 10px;
        direction: rtl;
        overflow-y: auto;
        padding-left: 10px;
      }
    }
  }

  padding: 95px 0 155px 0;
  background: #DFD8CF;

  & .filter {
    margin-bottom: fluid(30, 85);
    gap: fluid(30, 120);

    &-item {
      position: relative;

      &:not(&:last-child) {
        &:after {
          content: "/";
          font-size: fluid(18, 40);


          color: #C5BEB5;
          position: absolute;
          left: calc(100% + clamp(15px, 3vw, 55px));
          top: 48%;
          transform: translateY(-50%);
          font-weight: 900;
          font-family: 'Onest', serif;
          line-height: 1;
        }
      }

      & a {
        @include fontSize(18, 40);
        color: #C5BEB5;
      }

      &.is-active {
        & a {
          color: #3A3A3A;
        }
      }
    }
  }

  & .project {
    &__wrap {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 100px 20px;
      @media (max-width: $breakpoint-md) {
        grid-template-columns: 1fr;
      }
    }

    &__status {
      background: #E0D9D0;
      color: #2D2D2D;
      top: 0;
      position: absolute;
      left: 0;
      padding: 10px;
      font-size: 17px;
      letter-spacing: 0.1em;
      min-width: 142px;
    }

    &__img {
      aspect-ratio: 5 / 3;
      object-fit: cover;

      &-wrap {
        margin-bottom: 24px;
      }
    }

    &__title {
      padding-bottom: 6px;
      @media (max-width: $breakpoint-lg) {
        padding-bottom: 11px;
      }
      @include fontSize(22, 25);
      color: #000;
    }

    &__location {
      margin-bottom: 22px;

      & a, & div {
        font-size: fluid(15, 16);
      }

      & div {
        color: #000;
      }

      & a {
        color: rgba(89, 69, 55, 1);

        & i {
          font-size: 20px;
          color: rgba(89, 69, 55, 1);
          padding-right: 6px;
        }
      }
    }

    &__item {
      position: relative;

      &:after {
        content: '';
        width: 100%;
        height: 1px;
        background: rgba(0, 0, 0, 0.2);
        position: absolute;
        bottom: -50px;
        left: 0;
      }

      & .btn__wrap {
        @media (max-width: 1300px) {
          justify-content: center;
          gap: 20px;
        }
      }
    }
  }
}

.cottages {
  & .project {
    &__status {

      background: #E0D9D0;
      color: #2D2D2D;
      top: 0;
      position: absolute;
      left: 0;
      padding: 10px;
      font-size: 17px;
      letter-spacing: 0.1em;
      min-width: auto;

      &.sold {
        background: rgba(129, 121, 115, 1);
        color: rgba(255, 255, 255, 1);
      }
    }

    &__img {
      aspect-ratio: 5 / 3;
      object-fit: cover;

      &-wrap {
        margin-bottom: 24px;
      }
    }

    &__title {
      color: #000;
      @include fontSize(20, 23);
      letter-spacing: 0.1em;
      padding-bottom: 5px;
      margin-bottom: 21px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      @media (max-width: $breakpoint-lg) {

      }
    }

    &__description {
      margin-bottom: 16px;
      @media (max-width: $breakpoint-lg) {
        display: grid;
        gap: 20px;
      }

      & .characteristic {
        display: grid;
        gap: 10px;

        &__title, &__value {
          color: rgba(58, 58, 58, 1);
          @include fontSize(16, 20);
        }

        @media (max-width: $breakpoint-lg) {
          display: flex;
        }
      }
    }
  }

  & .btn__wrap {
    @media (max-width: $breakpoint-md) {
      gap: 20px;
    }
  }
}

.s-stats {
  padding-bottom: fluid(60, 140);

  & .description {
    margin-bottom: 60px;
    color: #E0D9D0;
  }

  & .stats {
    padding: 20px;
    border: 1px solid rgba(58, 58, 58, 1);

    &__value {
      font-size: fluid(30, 50);
      margin-bottom: 38px;

      & span:not(.stats__value--number) {
        font-size: fluid(20, 30);
      }

      &:after {
        content: '';
        width: 155px;
        height: 1px;
        background: rgba(255, 255, 255, 0.2);
        position: absolute;
        bottom: -16px;
        left: -20px;
      }
    }

    &__grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      @media (max-width: $breakpoint-md) {
        grid-template-columns: repeat(2, 1fr);

      }
    }
  }
}

.s-offers {
  padding-bottom: fluid(60, 150);

  & .heading {


    margin-bottom: fluid(30, 50);
  }

  & .offer {
    padding: 45px 0;
    position: relative;

    &:nth-child(3n + 1) {
      @media (min-width: $breakpoint-md) {
        &:before {
          content: '';
          width: 100vw;
          height: 1px;
          background: rgba(224, 217, 208, 0.2);
          position: absolute;
          bottom: -30px;
          left: 0;
        }
      }
    }

    &:nth-child( odd ) {
      @media (max-width: $breakpoint-md) {
        &:before {
          content: '';
          width: 100vw;
          height: 1px;
          background: rgba(224, 217, 208, 0.2);
          position: absolute;
          bottom: -30px;
          left: 0;
        }
        &:after {
          content: '';
          width: 1px;
          height: 100%;
          background: rgba(224, 217, 208, 0.2);
          position: absolute;
          top: 0;
          right: -10px;
        }
      }
    }

    &:not(:nth-child(3n)) {
      @media (min-width: $breakpoint-md) {
        &:after {
          content: '';
          width: 1px;
          height: 100%;
          background: rgba(224, 217, 208, 0.2);
          position: absolute;
          top: 0;
          right: -15px;
        }
      }
    }


    &__grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 60px 30px;
      overflow: hidden;
      @media (max-width: $breakpoint-md) {
        grid-template-columns: repeat(2, 1fr);
        gap: 60px 20px;
      }
    }

    &__img {
      width: 55px;
      height: 55px;
      margin: 0 auto 30px auto;
      object-fit: contain;
      object-position: center;
    }
  }
}

.s-audience {
  padding-top: fluid(60, 150);

  & .heading {

    margin-bottom: fluid(30, 35);
  }

  & .description {

    margin-bottom: fluid(22, 66);
  }

  & .img {
    aspect-ratio: 2 / 1;
    width: 100%;
    object-fit: cover;

    &__wrap {

    }
  }
}

.s-cottages-recommended {
  padding: fluid(60, 130) 0 fluid(60, 150) 0;
  background: #E0D9D0;

  &__more {
    @media (max-width: $breakpoint-md) {
      margin-top: 50px;
    }
  }

  & .heading {
    color: #000;
    @media (min-width: $breakpoint-md) {
      width: calc(100% - 324px);
    }
  }

  & .swiper {
    &-container {
      margin-top: 40px;
    }

    &-button__wrap {
      margin-top: 50px;
    }
  }
}

.s-construction-progress {

  padding: fluid(54, 150) 0 fluid(70, 150) 0;

  & .heading {
    margin-bottom: 50px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 40px;
    }
  }

  & .swiper {
    &-button__wrap {
      margin-top: 50px;
    }
  }

  & .card {
    &__img {
      aspect-ratio: 4 / 3;
      object-fit: cover;
      @media (max-width: $breakpoint-md) {
        aspect-ratio: 67 / 83;
      }
    }

    &__date {
      margin-bottom: 10px;
    }

    &__info {
      padding: 13px 20px;
      backdrop-filter: blur(10px);
      background: rgba(0, 0, 0, .4);
      box-shadow: 0px 0px 68px 0px rgba(0, 0, 0, 0.05) inset;

      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15) inset;
      position: absolute;
      bottom: 20px;
      left: 20px;
      width: calc(100% - 40px);
    }
  }
}

.s-interior {
  @media (max-width: $breakpoint-md) {
    padding-bottom: 70px;
  }

  & .heading {
    margin-bottom: fluid(18, 60);
  }

  & .description {

    margin-bottom: fluid(27, 66);
  }

  & .swiper {
    &-button__wrap {
      @media (max-width: $breakpoint-md) {
        margin-top: 30px;
      }
      @media (min-width: $breakpoint-md) {

        position: absolute;
        bottom: 0;
        right: 0;
        padding: 25px 20px 10px 20px;
        background: #1E1E1E;
        z-index: 3;
      }
    }
  }

  & .interior-gallery {
    &__img {
      aspect-ratio: 2 / 1;
      width: 100%;
      object-fit: cover;
    }
  }
}

.s-promo {
  padding-bottom: fluid(60, 150);

  &__img {
    aspect-ratio: 3 / 2;
    width: 100%;
    object-fit: cover;
  }

  & .promo {
    @media (min-width: $breakpoint-md) {
      width: 60%;
      background: #1C1C1C;
      padding: 34px 20px 0 0;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    @media (max-width: $breakpoint-md) {
      margin-bottom: 50px;
    }

    & .heading {
      font-size: fluid(30, 60);
      margin-bottom: 15px;
    }

    & .subtitle {
      margin-bottom: 38px;
    }

    & .description {
      margin-bottom: 20px;
    }
  }
}

.s-plan {
  background: #E0D9D0;
  padding: fluid(60, 80) 0;

  & .heading {
    color: #000000;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 22px;
    }
  }

  & .tab {
    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      max-width: 100%;
      gap: 20px;
    }

    &__content {
      margin-top: fluid(25, 55);
    }

    &__item {
      &:after {
        content: '';
        display: none;
      }

      &.is-active {
        color: #2C3837;
      }
    }
  }

  & .plan-info {
    &__heading {
      margin-top: 10px;
      margin-bottom: 20px;
      font-size: fluid(25, 40);
      color: #1C1C1C;
    }

    &__img {
      aspect-ratio: 3 / 2;
      object-fit: contain;
      @media (max-width: $breakpoint-md) {
        margin-bottom: 29px;
      }
    }
  }

  & .cms-content {
    & ul {
      & li {
        color: #1C1C1C;

        &::marker {
          color: #1C1C1C;
        }
      }
    }
  }
}

.s-intro {
  padding: 60px 0 fluid(60, 150) 0;

  & .heading {
    margin-bottom: 20px;
  }

  & .cms-content {
    color: #E0D9D0;

    & ul, & ol {
      & li {
        &::marker {
          color: #E0D9D0;
        }
      }
    }
  }
}

.s-features {
  padding: fluid(70, 110) 0;

  & .feature {
    padding: 31px 20px 31px 31px;
    @media (max-width: $breakpoint-md) {
      padding: 30px 20px;
      display: grid;
      gap: 20px;
      grid-template-columns: 65px 1fr;
    }

    &:not(&:last-child) {
      @media (min-width: $breakpoint-lg) {
        border-right: 1px solid #312F2F;
      }
      @media (max-width: $breakpoint-md) {
        border-bottom: 1px solid #312F2F;

      }
    }

    &__icon {
      width: 65px;
      height: 50px;
      @media (min-width: $breakpoint-md) {
        margin-bottom: 30px;
      }
    }

    &__text {
      font-size: fluid(16, 18);
      line-height: 1.6;
    }

    &__grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      border: 1px solid #312F2F;
      @media (max-width: $breakpoint-lg) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: $breakpoint-md) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}

.s-cottage-detail {
  padding-top: 156px;

  & .heading {
    margin-top: 40px;
    margin-bottom: fluid(60, 70);
  }


  & .cottage__completion {
    margin-bottom: 33px;
  }

  & .btn {
    width: 100%;

    &__wrap {
      gap: 20px;
    }
  }


}

.s-general-plan {
  padding: 70px 0;
}