@import "../abstracts/mixins";
@import "../abstracts/variables";

.kama_breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
  padding: 16px 0;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.2;
  color: rgba(224, 217, 208, 1);

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0;
  width: 100%;
  z-index: 2;
  white-space: nowrap;
  position: relative;
  @include transition(.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  @media (max-width: $breakpoint-md) {
    padding: 12px 0;
  }

  & a {
    position: relative;

    &:after {
      content: '';
      width: 100%;
      height: 1px;
      background: rgba(224, 217, 208, 1);
      left: 0;
      bottom: 0;
      position: absolute;
    }

    &:hover {

    }
  }

  .breadcrumb_last {
    color: rgba(175, 166, 159, 1);
  }

  & .kb {
    &_title {

    }

    &_sep {

      & i {

      }


      margin: 0 14px;
      @media (max-width: $breakpoint-md) {
        margin: 0 5px;
      }

      /* &:has(+ .kb_title) {
         & i {
           color: rgba(175, 166, 159, 1);
         }
       }*/
    }
  }
}
