@import "../abstracts/mixins";
@import "../abstracts/variables";

.btn {
  position: relative;
  box-shadow: none;
  cursor: pointer;
  text-decoration: none;
  border: none;
  font-family: 'AvenirNextCyr', sans-serif;
  font-size: 20px;
  line-height: 100%;
  border: 1px solid transparent;
  text-align: center;
  display: inline-block;
  font-weight: 400;
  border-radius: 10px;
  @include transition(.3);
  padding: 20px 5px;
  min-width: 304px;

  &:hover {
    & .btn__icon {
      & i {
        transform: rotate(45deg);
      }

    }
  }

  &:focus {
    outline: none;
  }

  &-primary {
    background: $accent-color;
    border-radius: 10px;
    color: $white-color;
    @include transition(.5);

    &.style-2 {
      padding: 7px 20px 6px 20px;
      font-size: 17px;
      display: inline-flex;
      align-items: center;
      min-width: 243px;

      & i {
        font-size: 35px;
        padding-right: 20px;
      }
    }


  }

  &-transparent {
    &, &__white {
      background: transparent;

      & i {
        font-size: 13px;
        padding-left: 15px;
      }
    }
  }

  &-transparent {
    border-color: $accent-color;
    color: $accent-color;

    &__white {
      border-color: $white-color;
      color: $white-color;
    }
  }
}


