@import "../abstracts/mixins";
@import "../abstracts/variables";


/*------------------------------------------*/
/* - POPUPS */
/*------------------------------------------*/
.popup {
  &-form {
    &__heading, &__description {
      color: $white-color;
    }

    &__heading {
      @include fontSize(30, 35);
      margin-bottom: 18px;
    }

    &__description {
      @include fontSize(16, 18);
      margin-bottom: 25px;
    }

    & .btn-primary {
      width: 100%;
      max-width: 304px;
    }

    & .form-control {
      margin-bottom: 20px;
    }
  }


  &-wrapper {
    position: fixed;
    z-index: 33;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    left: -100%;
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;

    &.active {
      left: 0;
      -webkit-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s;

      & .bg-layer {
        opacity: 1;
      }
    }


    & .bg-layer {
      position: absolute;
      left: 0;
      top: -100px;
      right: 0;
      bottom: -100px;
      background: rgba(51, 51, 49, 0.7);
      -webkit-transition: all .3s ease-out;
      -o-transition: all .3s ease-out;
      transition: all .3s ease-out;
      opacity: 0;
    }

    & .btn-close {
      position: absolute;
      width: 24px;
      height: 24px;
      top: 30px;
      right: 30px;
      cursor: pointer;
      background: transparent;
      @media (max-width: $breakpoint-md) {
        font-size: 24px;
        top: -54px;
        right: 15px;
      }

      & i {
        font-size: 18px;
        font-weight: normal;
        color: rgba(224, 217, 208, 1);
        @include transition(.4);
        @media (max-width: $breakpoint-md) {
          font-size: 24px;

        }
      }

      &:hover {
        & i {
          color: $white-color;
        }
      }
    }
  }

  &-container {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-width: 785px;
    margin: auto;
    position: relative;
    background: $white-color;
    padding: 30px 70px 50px 70px;


    @media (max-width: $breakpoint-md) {

      padding: 40px 16px;
      max-width: 500px;

    }
    @media (max-width: $breakpoint-sm) {

      max-width: 90%;

    }


  }

  &-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;


    -webkit-transition: opacity .3s ease-out, left 0s .3s, -webkit-transform .3s ease-out;
    transition: opacity .3s ease-out, left 0s .3s, -webkit-transform .3s ease-out;
    -o-transition: transform .3s ease-out, opacity .3s ease-out, left 0s .3s;
    transition: transform .3s ease-out, opacity .3s ease-out, left 0s .3s;
    transition: transform .3s ease-out, opacity .3s ease-out, left 0s .3s, -webkit-transform .3s ease-out;
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    opacity: 0;
    left: -10000px;
    display: grid;
    justify-content: center;
    align-items: center;

    &.active {
      -ms-transform: scale(1);
      transform: scale(1);
      -webkit-transform: scale(1);
      opacity: 1;
      left: 0;
      -webkit-transition: opacity .3s ease-out, left 0s 0s, -webkit-transform .3s ease-out;
      transition: opacity .3s ease-out, left 0s 0s, -webkit-transform .3s ease-out;
      -o-transition: transform .3s ease-out, opacity .3s ease-out, left 0s 0s;
      transition: transform .3s ease-out, opacity .3s ease-out, left 0s 0s;
      transition: transform .3s ease-out, opacity .3s ease-out, left 0s 0s, -webkit-transform .3s ease-out;
      position: relative;
    }

    @media (max-width: $breakpoint-md) {
      padding: 0 15px;
      max-width: 100%;
      overflow: auto;
    }

    & .layer-close {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      height: 10000px;
    }

    & .btn-primary {
      @media (max-width: $breakpoint-md) {
        display: block;
        font-size: 18px;
        max-width: 295px;
        margin-left: auto;
        margin-right: auto;
      }
    }


    &[data-rel="inspection"] {
      & .popup {
        &-container {
          padding: 91px 101px 156px 91px;
          max-width: 830px;
          background: rgba(44, 56, 55, 1);
          @media (max-width: $breakpoint-md) {
            padding: 22px 10px 54px 10px;

          }
        }

        &-info {
          & .heading {
            margin-bottom: 40px;
            @include fontSize(30, 60);
            @media (max-width: $breakpoint-md) {
              margin-bottom: 25px;
            }
          }
        }
      }
    }


    & .form-control {
      &:not(&.no-margin) {
        margin-bottom: 20px;

      }

      &__input {
        padding: 17px 20px 16px 20px;

      }
    }

    & .btn-primary {
      margin: 0 auto;

      display: block;
      width: 100%;
      max-width: 304px;
    }

  }
}



