@import "../abstracts/mixins";
@import "../abstracts/variables";


.pagination {
  width: 100%;
  background-color: transparent;

  &-container {
    //  padding: 100px 0 150px 0;
    @media (max-width: $breakpoint-lg) {
      //   padding-bottom: 100px;
    }
  }

  & .screen-reader-text {
    display: none;
  }

  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

  & .nav-links {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    .page-numbers {
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      font-size: 20px;
      font-weight: 300;
      text-align: center;
      color: #2D2D2D;
      width: 40px;
      height: 40px;
      background: transparent;

      border-radius: 100%;
      cursor: pointer;
      @include transition(.4);

      margin: 0 15px;
      @media (max-width: $breakpoint-md) {

      }
       &.next, &.prev {
        background: #D8D0C7;


      }
      &:not(.next,.prev ,.end, .start,):hover,&.current {
        background: #817973;
        color: $white-color;
      }
    }
  }
}
