@import "../abstracts/mixins";
@import "../abstracts/variables";

.s-banner {
  padding: 165px 0 60px 0;
  overflow: hidden;
  position: relative;
  @media (max-width: $breakpoint-md) {

  }

  & .img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: .5;

    &__wrap {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 1);

      &:after {
        content: '';
        width: 100%;
        height: 50%;
        background: linear-gradient(180deg, rgba(28, 28, 28, 0) 0%, #1C1C1C 100%);
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }

  & .heading {
    margin-bottom: 36px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 21px;
    }
  }

  & .description {
    gap: 20px;
    display: grid;

    & * {
      font-size: 20px;
      line-height: 1.5;
    }
  }

  &__inner {
    padding-top: 128px;
    @media (max-width: $breakpoint-md) {
      padding: 121px 15px 0 15px;
    }
  }

  &__content {
    padding: 178px 0;
    max-width: 385px;
    @media (max-width: $breakpoint-md) {
      padding: 175px 0 75px 0;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: -50px;
      height: 100%;
      width: calc(100% + 100px);
      filter: blur(100px);
      background: rgba(26, 49, 33, 0.8);
      z-index: 1;
    }

    & .title, & .description {
      color: $white-color;
    }

    & .title {
      margin-bottom: 25px;
    }

    & .description {

    }
  }


  & .btn {
    &-transparent {
      border-color: rgba(255, 255, 255, 1);
      color: rgba(255, 255, 255, 1);
    }

    &__wrap {
      margin-top: 50px;
      gap: 42px;
    }
  }

  &.full-height {
    height: 100vh;

    & .s-banner__inner {
      padding-top: 150px;
    }
  }
}


.block-gallery {
  .image-grid {
    display: grid;
    grid-template-columns: 1fr 20% 1fr; // друга колонка вузька
    gap: 20px;
    margin: 44px 0;
    @media (max-width: $breakpoint-md) {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }

    &__item {
      overflow: hidden;
      height: 420px;

      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
      }


    }
  }

  &:not(&.type-2,&.type-3) {
    .image-grid {
      &__item {
        &:nth-child(1) {
          @media (max-width: $breakpoint-md) {
            grid-column: span 2;
            grid-row: span 2;
            height: 310px;

          }
        }

        &:nth-child(2),
        &:nth-child(3) {
          @media (max-width: $breakpoint-md) {
            grid-column: span 1;
            grid-row: span 1;
            height: 180px;
          }
        }
      }

      &:not(&.type-2,&.type-3) {

      }

    }
  }

  &.type-2 {
    .image-grid {
      display: grid;
      grid-template-columns: 1fr 20% 1fr;
      gap: 10px;

      @media (max-width: $breakpoint-md) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
      }


      &__item {
        overflow: hidden;
        height: auto;
        @media (min-width: $breakpoint-md) {
          &:nth-child(1) {
            grid-row: span 2;
            grid-column: 1 / 2;
          }

          &:nth-child(2) {
            grid-row: 1 / 2;
            grid-column: 2 / 3;
          }

          &:nth-child(3) {
            grid-row: 2 / 3;
            grid-column: 2 / 3;
          }
          &:nth-child(4) {
            grid-row: span 2;
            grid-column: 3 / 4;
          }
        }
        @media (max-width: $breakpoint-md) {
          &:nth-child(1) {
            grid-column: 1 / 3;
            height: 465px;
          }

          // IMG2 — ліва колонка, перший рядок
          &:nth-child(2) {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            height: 109px;
          }

          // IMG3 — ліва колонка, під IMG2
          &:nth-child(3) {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
            height: 157px;
          }

          // IMG4 — права колонка, об'єднує 2 рядки (як IMG2 + IMG3)
          &:nth-child(4) {
            grid-column: 2 / 3;
            grid-row: 2 / 4;
            height: 275px;
          }

        }
      }
    }
  }

  &.type-3 {
    .image-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;

      &__item {
        overflow: hidden;
        height: auto;
        max-height: 620px;
      }
    }
  }
}

.block-quote {
  background: rgba(246, 244, 242, 1);
  padding: 33px 31px 49px 31px;
  margin: 50px 0;

  &__text {
    @include fontSize(18, 25);
    line-height: 2;
  }

}

.block-text-img {
  & .img {
    aspect-ratio: 5 / 4;
    @media (max-width: $breakpoint-lg) {
      aspect-ratio: 5 / 3;
    }
  }

  &.reverse {
    @media (min-width: $breakpoint-lg) {
      margin-bottom: 24px;
      display: flex;
      flex-direction: row-reverse;
    }
  }
}

.gallery-columns {
  column-count: 3;
  column-gap: 10px;

  img {
    width: 100%;
    display: block;
    object-fit: cover;
    margin-bottom: 10px;

    &:nth-child(1) {
      height: 600px;
    }

    &:nth-child(2) {
      height: 200px;
    }

    &:nth-child(3) {
      height: 400px;
    }

    &:nth-child(4) {
      height: 600px;
    }
  }
}


.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 10px;

  img {
    width: 100%;
    object-fit: cover;
    display: block;
  }

  // IMG1 — на всю ширину (дві колонки)
  img:nth-child(1) {
    grid-column: 1 / 3;
    height: 465px;
  }

  // IMG2 — ліва колонка, перший рядок
  img:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    height: 109px;
  }

  // IMG3 — ліва колонка, під IMG2
  img:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    height: 157px;
  }

  // IMG4 — права колонка, об'єднує 2 рядки (як IMG2 + IMG3)
  img:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    height: 275px;
  }

  // Адаптив на мобільних
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    img {
      grid-column: auto;
      grid-row: auto;
      height: auto;
    }
  }
}
