@import "../abstracts/mixins";
@import "../abstracts/variables";


.tab {
  &__list {
    display: grid;
    gap: 90px;
    @media (min-width: $breakpoint-md) {
      max-width: 80%;
      margin: 0 auto;
    }

    @media (max-width: $breakpoint-md) {
      gap: 30px;
    }
  }

  &__item {
    color: rgba(127, 127, 127, 1);
    background: transparent;

    cursor: pointer;
    position: relative;
    @include transition(.5);
    @include fontSize(22, 30);

    &:not(&:last-child) {
      &:after {
        content: '';
        width: 100%;
        height: 1px;
        background: rgba(0, 0, 0, 0.1);
        position: absolute;
        left: 0;
        bottom: -45px;
        @media (max-width: $breakpoint-md) {
          bottom: -15px;
        }
      }
    }

    &.is--active {
      color: rgba(89, 69, 55, 1);
    }
  }

  &__content {
    &-item {
      display: none;

      &.is--active {
        display: flex;
      }
    }
  }
}
