@import "../abstracts/mixins";
@import "../abstracts/variables";


.tabs {
  &__scale {
    height: 100%;
    position: absolute;
  }

  &__line {
    display: block;
    width: 6px;
    height: 100%;
    background: #C5BEB5;
    margin: 6px;
  }
}

span.tabs__current, .tabs__total {
  font-size: 16px;
  color: #817973;
}
.tab {
  &__list {
    display: grid;
    gap: 90px;
    @media (min-width: $breakpoint-md) {
      max-width: 80%;
      margin: 0 auto;
    }

    @media (max-width: $breakpoint-md) {
      gap: 30px;
    }
  }

  &__item {
    color: rgba(127, 127, 127, 1);
    background: transparent;

    cursor: pointer;
    position: relative;
    @include transition(.5);
    @include fontSize(22, 30);


    &:after {
      content: '';
      width: 100%;
      height: 1px;
      background: rgba(0, 0, 0, 0.1);
      position: absolute;
      left: 0;
      bottom: -45px;
      @media (max-width: $breakpoint-md) {
        bottom: -15px;
      }
    }


    &.is--active {
      color: rgba(89, 69, 55, 1);
    }
  }

  &__content {
    &-item {
      display: none;

      &.is--active {
        display: flex;
      }
    }
  }
}
