@import "../abstracts/mixins";
@import "../abstracts/variables";

.footer {

  position: relative;
  padding: 120px 0 88px 0;
  @media (max-width: $breakpoint-md) {
    padding: 140px 0 60px 0;
  }

  &__bg {
    opacity: .4;

    &-wrap {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: -1;
      // background: linear-gradient(0deg, rgba(28, 28, 28, 0) 0%, #1C1C1C 100%);

      &:after {
        content: '';
        height: 100%;
        width: 100%;
        background: linear-gradient(0deg, rgba(28, 28, 28, 0) 0%, #1C1C1C 100%);
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  &__inner {
    padding: 55px 0;
    position: relative;
    @media (max-width: 1550px) {
      padding: 55px 20px;
    }
    @media (max-width: $breakpoint-lg) {
      padding: 20px 0;
    }

    &:after {
      content: '';
      width: calc(100% - 18.75rem);
      background: #2C3837;
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      @media (max-width: 1550px) {
        width: calc(100% - 40px);
      }
      @media (max-width: $breakpoint-lg) {
        width: calc(100% - 40px);
      }
    }
  }

  &__top {
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(224, 217, 208, 0.1);

    @media (max-width: $breakpoint-md) {
      padding: 29px 0 0 0;
    }

    & .logo {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;

      &__link {
        display: block;
        width: 211px;
        @media (max-width: $breakpoint-lg) {
          margin: 0 auto 21px auto;
          width: 185px;
        }
      }


    }

    & .menu {
      gap: 15px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      @media (max-width: $breakpoint-xl) {

      }
      @media (max-width: $breakpoint-md) {
        gap: 20px;
        text-align: center;
      }

      &-item {


        & a {

          @include fontSize(16, 20);
          font-weight: 700;
          @include transition(.4);
          @media (max-width: $breakpoint-md) {
            font-size: 14px;
          }

          &:hover {
            color: rgba(75, 101, 83, 1);
          }
        }

      }
    }

    & .contact {
      gap: 15px;
      display: grid;
      justify-content: center;

      @media (max-width: $breakpoint-md) {
        margin-bottom: 32px;
        text-align: center;
      }

      &-item {
        & a {
          @include fontSize(16, 20);
          font-weight: 700;
          color: rgba(224, 217, 208, 1);
        }
      }

    }

    & .social {
      @media (max-width: $breakpoint-xl) {
        gap: 15px;
      }

      &-item {
        border: none;
        width: 33px;
        height: 33px;
        @media (max-width: $breakpoint-xl) {
          width: 28px;
          height: 28px;
        }
        @media (max-width: $breakpoint-lg) {
          width: 20px;
          height: 20px;
        }

        & i {
          color: rgba(224, 217, 208, 1);
          font-size: 31px;
          @media (max-width: $breakpoint-xl) {
            font-size: 19px;
          }
        }

        &:hover {
          & i {
            color: rgba(89, 69, 55, 1);
          }
        }
      }

      @media (max-width: $breakpoint-md) {
        margin-bottom: 32px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
      }

    }
  }

  &__bottom {
    padding-top: 21px;

    &-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: $breakpoint-md) {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        gap: 11px;
        display: grid;
        text-align: center;
      }
    }

    & .copyright, & .develop, & .privacy {
      @include fontSize(15, 17);
      font-weight: 300;
      color: rgba(224, 217, 208, 1);
    }

    & .develop {
      @media (max-width: $breakpoint-lg) {
        justify-content: center;
      }
    }
  }


}

