@import "../abstracts/mixins";
@import "../abstracts/variables";


.header {
  top: 0;
  left: 0;
  width: 100%;

  position: absolute;
  background: transparent;
  z-index: 7;
  /* Плавна анімація */
  transition: transform 0.35s ease-out, opacity 0.35s ease-out;
  will-change: transform, opacity;


  /* visibility: visible;
   opacity: 1;
   -webkit-transition: all 0.25s linear;
   transition: all 0.25s linear;*/
  @media (max-width: $breakpoint-lg) {
    padding: 30px 0;

  }
  @media (max-width: $breakpoint-md) {
    height: auto;
  }

  &-hidden {
    transform: translateY(-100%);
    opacity: 0;
  }

  &-visible {
    transform: translateY(0);
    opacity: 1;
  }


  &__main {
    transition: all ease-out .5s;
    padding: 30px 0;
    position: relative;
    @media (max-width: $breakpoint-lg) {
      padding: 0;
      order: 2;
      display: grid;
      gap: 30px;
    }

    &:after {
      content: '';
      width: 100vw;
      height: 1px;
      background: rgba(255, 255, 255, 1);
      bottom: 0;
      left: calc(-1 * (100vw - 100%) / 2);
      position: absolute;
      @media (max-width: $breakpoint-lg) {
        display: none;
      }
    }

    & .menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-transition: .4s all;
      transition: .4s all;
      visibility: visible;
      opacity: 1;
      gap: 50px;
      @media (max-width: $breakpoint-xl) {
        gap: 15px;
      }
      @media (max-width: $breakpoint-lg) {
        display: grid;
        width: 100%;
        gap: 30px;
        text-align: left;
        padding-bottom: 15px;
      }

      &-item {
        & a {
          position: relative;
          font-size: 18px;
          line-height: 1;
          font-weight: 500;
          @include transition(.5);
          @media (min-width: $breakpoint-lg) {

          }

          &:after {
            content: '';
            width: 0;
            height: 4px;
            background: rgba(89, 69, 55, 1);
            position: absolute;
            bottom: -6px;
            left: 0;
          }

          &:hover {
            color: rgba(139, 117, 96, 1);
          }
        }

        &-active {
          & a {
            &:after {
              width: 100%;
            }
          }
        }
      }
    }

    & .contact {
      display: flex;
      gap: 30px;
      align-items: center;

      &-item {
        @media (max-width: $breakpoint-lg) {
          width: 100%;
        }

        & a {
          transition: color ease-out .3s;
          font-weight: 700;
          font-size: 22px;
          color: rgba(255, 255, 255, 1);

          &:hover {
            color: rgba(139, 117, 96, 1);
          }
        }
      }
    }
  }


  & .logo {
    height: 100%;

    &__wrap {
      width: 162px;
      height: 105px;
      transition: transform ease-out .5s;
      @media (max-width: $breakpoint-md) {
        width: 138px;
        height: 89px;
      }
    }
  }

  & .burger {
    display: flex;
    cursor: pointer;
    width: 28px;
    height: 18px;
    justify-content: space-between;
    flex-direction: column;
    @include transition(.3);


    & > span {

      height: 2px;
      background-color: #D9D9D9;
      border-radius: 0;
      @include transition(.5);
      z-index: 999;
      width: 100%;

      &:nth-child(2) {
        width: 66%;
        margin-left: auto;
      }

      &:nth-child(3) {
        width: 33%;
        margin-left: auto;
      }
    }


    &__wrap {
      display: none;
      @media (max-width: $breakpoint-lg) {
        display: block;
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
      }

      &.active {
        & .burger {
          & span {
            width: 100%;
            // background-color: rgba(226, 241, 231, 1);

            &:nth-child(1) {
              transform: translateY(7px) rotate(45deg);
            }

            &:nth-child(2) {
              opacity: 0;
            }

            &:nth-child(3) {
              transform: translateY(-7px) rotate(-45deg);
            }
          }
        }
      }
    }
  }

  &__inner {
    @media (max-width: $breakpoint-lg) {

      height: calc(100vh - 75px);
      background-color: #fff;
      position: fixed;
      top: 75px;
      transition: all 1.2s ease;
      z-index: 2;
      width: 100%;
      right: -100%;

      overflow-y: auto;
      overflow-x: hidden;
      display: grid;
      padding: 24px 20px 20px 20px;
      &:before {
        content: '';
        width: calc(100% - 30px);
        height: 1px;
        background: rgba(204, 195, 189, 0.5);
        position: absolute;
        top: 0;
        left: 0;
      }

    }
  }

  .logo__wrap, & .controls {
    transition: all ease-out .5s;
  }

  &.open-menu {

    & .header__inner {
      @media (max-width: $breakpoint-lg) {

        right: 0;
        transition: all .5s ease;
      }
    }

    & .logo__wrap, & .controls {
      opacity: 0;
    }
  }

}








